<% provide(:title, "Acerca") %>
<h1><%= yield(:title) %></h1>
<p>
	Entender qué ofrecemos es fácil, sólo deja de usar tus notas adhesivas y aplicaciones de recordatorio y comenzarás a hacer realmente un uso de tu celular y de gastar tu plan de datos.

Te preguntamos lo siguiente: ¿Cuantas veces al día omites los recordatorios que te envía el celular?, ¿llevas tus notas adhesivas a todos lados?.

Escribe tu nota o recordatorio en la aplicación web, ingresa la información necesaria, crea el memo y espera que te llegue el llamado a tu celular recordandotelo. Así tal cual, fácil.

Dejar de malgastar papeles y tu plan de datos, nosotros hacemos el trabajo de avisarte.
</p>

<strong>Equipo de Memocity</strong>
