<h1>Restablecer tu contraseña de Memocity</h1>

<h2>Hola <%= @user.name.capitalize %>:</h2>

Hemos recibido tu solicitud de actualización de contraseña. Si no hiciste nada,
por favor, ignora este correo.
<%= link_to "Actualizar clave", edit_password_reset_url(@user.reset_token, email: @user.email) %>

Saludos!
Equipo de <%= link_to “Memocity SpA”, "http://memocity.herokuapp.com" %>
