<li id="reminder-<%= reminder.id %>">
<span class="content"><%= reminder.content %></span>
<p>
  <span class="when_activate">
    Activar el
    <%= reminder.when_activate %>
  </span>
  <span class="timestamp">
    Creado el
    <%= reminder.created_at.strftime("%d-%m-%Y") %>
  </span>
</p>


</li>
