<% provide(:title, "Memocity") %>
<div class="row">
  <h2>Mi perfil</h2>
  <h3>Hola <%= current_user.name %></h3>
  <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Detalles de</th>
      <th>Tipo de cuenta</th>
      <th>Recordatorios permitidos</th>
      <th>Expira</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cuenta</td>
      <td>Gratis</td>
      <td>1 díario</td>
      <td>Nunca</td>
    </tr>
  </tbody>
</table>

<h2>Resumen de memocity</h2>

<table class="table table-striped table-hover ">
<thead>
  <tr>
    <th>Cantidad</th>
    <th>Activos</th>
    <th>Expirados</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= pluralize(current_user.reminders.count, "creados") %></td>
    <td><span class="label label-success">Pronto</span></td>
    <td><span class="label label-success">Pronto</span></td>
  </tr>
</tbody>
</table>

<a href="http://goo.gl/forms/t17Rer4Dql", class="btn btn-success">
  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
  Envía tus comentarios
</a>
</div>
</div>
