@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:800);
/* mixins, variables, etc. */
@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%); // #222
@gray-dark: #7b8a8b; // #333
@gray: #95a5a6; // #555
@gray-light: #b4bcc2; // #999
@gray-lighter: #ecf0f1; // #eee
@brand-primary: #2C3E50;
@brand-success: #18BC9C;
@brand-info: #3498DB;
@brand-warning: #F39C12;
@brand-danger: #E74C3C;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
html {
  overflow-y: scroll;
}
.jumbotron {
  background-color: #50a0ee;
}
body {
  font-family: 'Hind Vadodara', sans-serif;
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-darker;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
div {
  .menu {
font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;

  }
}

/* header */
#logo {
  font-family: 'Pacifico', cursive;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    transition: all 0.5s linear;
    color: rgb(193, 58, 191);
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $brand-info;
    }
  }
  strong {
    display: block;
  }
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px;
  }
}

/* reminders */
.reminders {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .content {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 60px;
  }
  .when_activate {
    color: $brand-info;
    display: block;
    font-size: 14px;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    font-size: 12px;
    display: block;
    margin-left: 60px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}
