@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* mixins, variables, etc. */
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: #7b8a8b !default; // #333
$gray: #95a5a6 !default; // #555
$gray-light: #b4bcc2 !default; // #999
$gray-lighter: #ecf0f1 !default; // #eee
$brand-primary: #2C3E50 !default;
$brand-success: #18BC9C !default;
$brand-info: #3498DB !default;
$brand-warning: #F39C12 !default;
$brand-danger: #E74C3C !default;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/*
 typography
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-darker;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*/
div {
  .menu {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
}

/* header */
#logo {
  font-family: 'Pacifico', cursive;
  float: left;
  margin-right: 10px;
  font-size: 26px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0;
  padding-top: 9px;
  padding-left: 43%;
  font-weight: bold;
  line-height: 1;
  &:hover {
    transition: all 0.5s linear;
    color: rgb(226, 11, 204);
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 30px;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}


/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}


/* reminders */
.reminders {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .content {
    display: block;
    color: $gray-darker;

    font-size: 16px;
    font-weight: bold;
    margin-left: 60px;
  }
  .when_activate {
    display: block;
    font-size: 14px;
    color: $brand-success;
    font-weight: lighter;
    margin-left: 60px;
  }
  .timestamp {
    font-size: 12px;
    color: $gray;
    font-weight: bold;
    display: block;
    margin-left: 60px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}
